{% extends "base.html" %}

{% block title %}书城 - {{ item.title }}{% endblock %}

{% block body %}
    <div class="card mt-3 mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ item.image }}" onerror="this.src='/media/default.png'" class="card-img" width="300" height="500">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="height: 100%">
                    <h3>{{ item.title }}</h3>
                    <div class="text-muted">{{ item.author }}</div>

                    <div class="row mt-3 mb-3 pt-3 pb-3 align-items-center" style="background-color: #fff5f5;">
                        <div class="col-md-6">
                            <div class="h2 text-danger">￥{{ item.price }}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-muted">评分：{{ item.average }}</div>
                        </div>
                    </div>

                    <div class="card-text mb-3">
                        <div class="text-muted">出版社：{{ item.publisher }}</div>
                        <div class="text-muted">原作名：{{ item.origin_title }}</div>
                        <div class="text-muted">装订：{{ item.binding }}</div>
                        <div class="text-muted">页数：{{ item.pages }}</div>
                        <div class="text-muted align-items-center">
                            标签：
                            {% for tag in item.tag.split %}
                                <div class="btn btn-outline-secondary mt-1">{{ tag }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-muted">由商城发货，并提供售后服务，预计3天内到达</div>
                    <div class="text-muted">自提，99元免基础运费（10kg内）</div>

                    <div class="row" style="position: absolute;bottom: 10px;">
                        <form action="{% url 'cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="direct_pay">
                            <input type="hidden" name="from_url" value="{{ request.get_full_path }}">
                            <input type="hidden" name="item" value="{{ item.pk }}">
                            <button type="submit" class="ml-3 btn btn-danger">立即购买</button>
                        </form>
                        <form action="{% url 'cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="from_url" value="{{ request.get_full_path }}">
                            <input type="hidden" name="item" value="{{ item.pk }}">
                            <button id="add_to_cart" type="button" class="ml-3 btn btn-outline-danger">加入购物车</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">作者：{{ item.author }}</div>
        <div class="card-body" style="line-height: 200%">
            {{ item.author_intro }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">图书概述</div>
        <div class="card-body" style="line-height: 200%">
            {{ item.summary }}
        </div>
    </div>


    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/details.js"></script>
    <script>
        let csrfToken = Cookies.get('csrftoken')

        document.querySelector('#add_to_cart').onclick = function () {
            add_to_cart({{ item.Id }})
        }
    </script>

{% endblock %}