{% extends "base.html" %}

{% block title %}书城 - {{ title }}{% endblock %}

{% block body %}
    <div class="ml-n2 mt-3 mb-2">
        <span class="h2">{{ title }}</span>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
        <!-- 开始一个卡片 -->
        {% for item in items %}
            <div class="col mb-3 px-1">
                <div class="card h-100 bg-light">
                    <a href="{% url "details" item.pk %}">
                        <img src="{{ item.image }}" onerror="this.src='/media/default.png'" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body px-2 pb-2">
                        <h6 class="card-title my-n2 video_title">{{ item.title }}</h6>
                        <div class="card-subtitle mb-1 mt-3 text-danger">
                            <span class="text-muted">{{ item.author }}</span>
                            <span class="badge badge-danger ml-2">评分：{{ item.average }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-secondary" role="alert">
                没有查询到相关商品信息
            </div>
        {% endfor %}
        <!-- 结束一个卡片 -->
    </div>

{% endblock %}